/* Style Roboto back noir */

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
    font-family: 'Creepster', cursive;
    background-color: #8B0000;
    font-size: 32px;
}

form {
    color: #333;
    background-color: #8B0000;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    color: #333;
    text-align: center;
}
