body {
    font-family: 'Cinzel Decorative', serif;
    background-image: url(images/g.png);
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 20px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #242223;
    margin: 0;
    font-size: 2.5em;
    font-family: 'Cinzel Decorative', serif;
    text-align: center;
}

main {
    flex: 1;
    width: 80%;
    margin: 20px 0;
}

h2 {
    text-align: center;
}

.parfums-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    justify-content: center;
}

.parfum-box {
    width: 300px;
    height: auto;
    padding: 20px;
    text-align: center;
    border: 15px solid transparent; /* control the offset of the lines */
    outline: 2px solid #000000; /* adjust the 2px here */
    outline-offset: -10px; /* control the offset of the rectangle */
    background:
    conic-gradient(from 90deg at 2px 2px,#0000 25%,#000000 0)
    0 0/calc(100% - 2px) calc(100% - 2px) padding-box border-box;
}

.parfum-box h3 {
    margin-top: 0;
    font-family: 'Cinzel Decorative', serif;
    color: #221408;
}

.parfum-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    color: #030202;
    padding: 10px;
    width: 100%;
    text-align: center;
}
