@font-face {
    font-family: 'Police Airbnb';
    src: url('images/AirbnbCereal_W_Bk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html{
    background-color: black;
}

body {
    padding: 0;
    margin: 10px;
    background-color: #f8f8f8;
    font-family: 'Police Airbnb', Arial, sans-serif;
}

header {
    padding: 1rem;
}

.bar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.bar-nav ul.lien-gauche {
    flex: 1;
    justify-content: flex-start;
    margin-left: 30px;
}

.bar-nav ul.lien-milieu {
    flex: 1;
    justify-content: center;
}

.bar-nav ul.lien-droite {
    flex: 1;
    justify-content: flex-end;
    margin-right: 30px;
}

.bar-nav ul li {
    margin: 0 15px;
}

.bar-nav ul li a {
    color: black;
    text-decoration: none;
}

.separator1 {
    width: 100%;
    height: 1px;
    background-color: #7e7e7e3e;
    margin: 20px 0;
}

.bar-recherche {
    background-color: #ffffff;
    padding: 1rem; 
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 1rem auto; /* Centre la barre de recherche horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 15px;
}

.input-group input {
    border: none;
    outline: none;
    padding: 0.5rem;
    width: 200px;
    font-size: 15px;
}

.loupe {
    width: 30px;
}

.bar-icone {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icone {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.vue-logement{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}

.log {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    width: 22%;
    margin-top: 50px;
    padding: 10px;
    position: relative;
}

.picture {
    position: relative; /* Nécessaire pour que le cercle blanc soit positionné relativement à ce conteneur */
    width: 100%;
}

.picture img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.circle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.513);
    border-radius: 50%; /* cercle parfait */
    border: 2px solid white;
}

.texte {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: flex-start;
}

.texte p {
    margin: 0rem;
    font-size: 15px;
}

.p1 {
    color: rgba(98, 100, 103, 0.816);
}

.separator2 {
    width: 100%;
    height: 3px;
    background-color: #7e7e7e3d;
    margin-top: 50px;
    margin-bottom: 0px;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 15px;
    background-color: #b3a8a818;
    height: auto;
    padding: 20px;
}